 .top-banner{
background-image:linear-gradient(#ff000014,#0000ff2e),url(images/donation13.jpg);
width: 100%;
height: 450px;
color: white;
text-align: center;
padding-top: 12px;
background-repeat: no-repeat;
background-size: cover;

 }
 h1{
    font-size: 45px;
 }
 .submit-button{

    color: white;
    background-color: orangered;
    font-size: 20px;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
 }
 .donate-today{
    text-align: center;
 }
 .donate-amount{

     
    display: flex;
    justify-content: center;
     
   
   

 }
 .donate-amount div{
   
    background-color: #f1f1f1;
   
    margin: 10px;
    text-align: center;
     padding-left: 20px;
    font-size: 30px;
  }
 .highlight{
    background-color: lightblue;
    padding: 20px;
    border: 1px solid tomato;
    border-radius: 4px;
 }
 .other-amount{
    text-align: center;
    margin-top: 40px;
 }
  .line{
    
    border-bottom: 1px solid red;
    padding-bottom: 5px;
  }
  .center{
    text-align: center;
  }
  .donate-item{
    display: flex;
   
    
     


  }
  .food{
    background-color: aqua;
    padding-left: 10px;
    margin-left: 20px;
    padding-top: 20px;
    border-radius: 5px;
  }
  
  .shelter{
    background-color:olive;
    padding-left: 10px;
    margin-left: 20px;
    padding-top: 20px;
    border-radius: 5px;
  }
  .education{
    padding-top: 20px;
    background-color: aqua;
    padding-left: 10px;
    margin-left: 20px;
    border-radius: 5px;
  
}
 
  .email{
    background-color: beige;
    padding: 11px 100px 8px 17px;
    border-radius: 4px;
     
  }
  .subscribe{
    background-color: tomato;
    padding: 11px 32px 8px 17px;
    border-radius: 4px;

  }
 
 
 
footer{
    background-color: black;
    color: white;
    text-align: center;
    padding-top: 20px  ;
    padding-bottom: 20px;
    margin-top: 100px;
}
footer h3{
    color:orange
}
 
 
  
 
   
   
   
   
    
   