body {
    font-family: 'Noto Serif', serif;
}

h1 {
    font-size: 45px;
    line-height: 20px;

}

.top-background-image {
    background-image: linear-gradient(rgb(107 83 83 / 0%), rgb(138 126 126 / 57%)), url(images/donation13.jpg);
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: 100%;
    text-align: center;
    padding-top: 90px;

    color: white;

}

.donate-button {
    background-color: #F78768;
    text-decoration: none;
    padding: 10px 40px;
    font-weight: 400;
    color: whitesmoke;
    border-radius: 7px;
    margin-top: 20px;

}

.donate-today {
    text-align: center;
    padding-top: 90px
}

.donate-amount h3 {

    display: inline-flex;
    padding-left: 60px;
    font-size: 30px;
    font-weight: 700;
}

.coloring {
    border: 3px solid red;
    font-size: 30px;
    font-weight: 700;
    padding: 27px;
    border-radius: 5px;
    color: red;
    background-image: linear-gradient(#ff00000f, #ff00002e);
}
 

.food {
    width: 25%;
    padding: 20px;
    background-color: #EDF5F6;
    margin-left: 30px;
    
    
  }
    .shelter
    {
        width: 25%;
        padding: 20px;
        background-color: #FFEEEE;
        margin-left: 30px;
        
    
    }
    .education{
        width: 25%;
        padding: 20px;
        background-color:#FFF4D6;
        margin-left: 30px;
    
    }
    .donate-item{
        display: flex;
        margin-left: 80px;
        margin-top: 40px;
       